---
layout: default
title: Blog
---
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <style>
    body{
        background-color: white;
        font-family: 'Raleway', sans-serif;
        color:black;
      }
    </style>
  </head>
  {% include navigation.html %}
<center>
  <h1>Post</h1>
</center>
<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
</html>