---
layout: default
title: Blog
---
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <style>
    body{
        background-color: white;
        font-family: 'Raleway', sans-serif;
        color:black;
      }
    a{
      color: black;
      text-decoration: none;
    }
    .card {
  max-width: 90%;
  margin: auto;
}
    </style>
  </head>
  {% include navigation.html %}
<center>
  <h1>Post</h1>
</center>
  
  {% for post in site.posts %}
  <div class="card">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
    </div>
  {% endfor %}

</html>