---
title: Home
my_number: 5
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    <h1>Hellas!</h1>
    {% if page.show_sidebar %} 
  <div class="sidebar">
    sidebar content
  </div>
{% endif %}
<h1>{{ "Post Terbaru" | | capitalize }}</h1>
<form id='google-form' method='post' action='https://script.google.com/macros/s/AKfycbyVS-FMaTegLw0tYrr00ZhOdwfHD4EYP6vwJSpdwGMywBkir9Y/exec'>
  <div>Name:</div>
  <input type='text' name='Name'>
  <div>Email:</div>
  <input type='text' name='Email'>
  <input type='submit' value='Submit'>
</form>
  </body>
</html>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>